# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Flask / SQLite
instance/*.db
instance/*.png
instance/*.db-journal
*.db
*.db-journal
app.log

# Virtual environments
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp Excel exports
Счет*.xlsx
Aa123456/*.p12
Aa123456/
